<footer class="footer">

    <div class="footer-container">

        <a class="logo-footer" href="/">
            <img src="/images/logo-principal-2.png" alt="">
        </a>

        <div class="contacto">
            <div class="contacto-text">
                <h3>CONTACTO</h3>
            </div>           
            <a  href="tel:1138849632"class="numero">11 3884-9632</a>
            <a href="https://www.google.com/maps/place/Sicilia+1299,+B1888CBE+Florencio+Varela,+Provincia+de+Buenos+Aires/@-34.8374886,-58.2878988,18.75z/data=!4m5!3m4!1s0x95a32a2f3e395b39:0xd05db2d02dfb026d!8m2!3d-34.8374801!4d-58.2875125">
                Sicilia 1299</a>
            <a href="mailto:fycimpresion@gmail.com">fycimpresion@gmail.com</a>
        </div>

        
        <div class="sigamos-conectados">
            <p class="title">SEGUINOS EN NUESTRAS REDES</p>
            <div class="icons-redes">
                <a href="https://www.instagram.com/graficafyc"><i class="fab fa-instagram"></i></a>
                <i class="fab fa-facebook-f"></i>
                <a href="https://api.whatsapp.com/send?phone=+541138849632"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    


        <div class="metodos-de-pagos">
            <div class="title-pagos">
                <h3>METODOS DE PAGO</h3>
            </div>
            <div class="lista-pagos">
                <ul>
                    <li>
                        mercadopago/efectivo
                    </li>
                    <li>
                        transferencia bancaria
                    </li>
                    <li>
                        deb/cred
                    </li>
                
                </ul>
            </div>
        </div>

    </div>


</footer>