<main class="main">

  <div class="main-container">

    <div class="secc1">
      <div class="secc1-text">
        <h1 class="secc1-title"> <strong style="color: orange;">¡</strong>Tenemos los mejores <strong
            style="color:orange;">D</strong>iseños <br>De <strong style="color: orange">LONAS</strong> !</h1>
      </div>
      <a href="https://api.whatsapp.com/send?phone=+541138849632" class="button"> <strong
          style="color: #020b20;"></strong>Más info <img
          src="https://img.icons8.com/windows/64/000000/new-message.png" /><strong
          style="color: rgb(7, 2, 2);"></strong></a>
    </div>
    <!--  <div class="slider" id="slider">
                <div class="slider__section">
                    <img src="/images/999.jpeg" alt="" class="slider__img"> 
                </div>
                <div class="slider__section">
                    <img src="/images/555.jpeg" alt="" class="slider__img">
                </div>
                <div class="slider__section">
                    <img src="/images/78.jpeg" alt="" class="slider__img">
                </div>
                <div class="slider__section">
                    <img src="/images/222.jpeg" alt="" class="slider__img">
                </div>
               
            </div>
            <div class="slider__btn slider__btn--right" id="btn-right">&#60;</div>
            <div class="slider__btn slider__btn--left" id="btn-left">&#62;</div>
        </div> -->
    <div class="secc3">
      <div class="title-secc3">
        <h1>Algunos de nuestros trabajos !</h1>
      </div>
      <div class="fila1">
        <div class="img1">
          <img src="/images/1.jpeg" alt="">
        </div>
        <div class="box-img2-3">
          <img class="img2" src="/images/5.jpeg" alt="">
          <img class="img3" src="/images/22.jpeg" alt="">
        </div>
      </div>

      <div class="fila2">
        <div class="box-img6-5">
          <img class="img6" src="/images/222.jpeg" alt="">
          <img class="img5" src="/images/f.jpeg" alt="">
        </div>
        <div class="img7">
          <img class="img" src="/images/999.jpeg" alt="">
        </div>



      </div>
    </div>

    <div class="secc4">
      <div class="title-articles">
        <h1>Animate a darle la mejor imagen a tu local <strong style="color: orange;"> !</strong></h1>
      </div>
      <div class="articles1">
        <a href="/products/search?search=Letreros"><img src="/images/5.jpeg" alt="">
          <p>Letreros</p>
        </a>
        <a href="/products/search?search=Carteles"><img src="/images/22.jpeg" alt="">
          <p>Carteles</p>
        </a>
        <a href="/products/search?search=Gigantografias"><img src="/images/222.jpeg" alt="">
          <p>Gigantografias</p>
        </a>
      </div>
      <div class="articles2">
        <a href="/products/search?search=Impresiones"><img src="/images/f.jpeg" alt="">
          <p>Impresiones</p>
        </a>
        <a href="/products/search?search=Autoadhesivos"><img src="/images/999.jpeg" alt="">
          <p>Autoadhesivos</p>
        </a>
        <a href="/products/search?search=Ploteos"><img src="/images/789.jpeg" alt="">
          <p>Ploteos</p>
        </a>
      </div>
    </div>


    <!-- Begin Portfolio -->
    <section id="portfolio-section" class="page bg-style1">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="portfolio">
              <!-- Begin page header-->
             
                <div class="portfolio_content">
                  <div class="row" id="portfolio">
                    <div class="col-xs-12 col-sm-4 appsDevelopment">
                      <div class="portfolio_single_content">
                        <img src="/images/9.jpeg" alt="title" />
                        <div>
                          <a href="/products/search?search=Letreros">L E T R E R O S</a>
                          <span>Subtitle</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 GraphicDesign">
                      <div class="portfolio_single_content">
                        <img src="/images/10.jpeg" alt="title" />
                        <div>
                          <a href="/products/search?search=Carteles">c a r t e l e s</a>
                          <span>Subtitle</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 responsive">
                      <div class="portfolio_single_content">
                        <img src="/images/2.jpeg" alt="title" />
                        <div>
                          <a href="/products/search?search=Gigantografias">G i g a n t o g r a f i a s</a>
                          <span>Subtitle</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 webDesign websites">
                      <div class="portfolio_single_content">
                        <img src="/images/321.jpeg" alt="title" />
                        <div>
                          <a href="/products/search?search=Impresiones">I m p r e s i o n e s</a>
                          <span>Subtitle</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 appsDevelopment websites">
                      <div class="portfolio_single_content">
                        <img src="/images/456.jpeg" alt="title" />
                        <div>
                          <a href="/products/search?search=Autoadhesivos">A u t o a d h e s i v o s</a>
                          <span>Subtitle</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 GraphicDesign">
                      <div class="portfolio_single_content">
                        <img src="/images/b.jpeg" alt="title" />
                        <div>
                          <a href="/products/search?search=Ploteos">P l o t e o s</a>
                          <span>Subtitle</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 responsive">
                      <div class="portfolio_single_content">
                        <img src="images/portfolio/p7.jpg" alt="title" />
                        <div>
                          <a href="#">Last Motel</a>
                          <span>Subtitle</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 GraphicDesign">
                      <div class="portfolio_single_content">
                        <img src="images/portfolio/p8.jpg" alt="title" />
                        <div>
                          <a href="#">Dirk Road</a>
                          <span>Subtitle</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 websites">
                      <div class="portfolio_single_content">
                        <img src="images/portfolio/p9.jpg" alt="title" />
                        <div>
                          <a href="#">Old is Gold</a>
                          <span>Subtitle</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End portfolio -->






    <div class="secc2">
      <div class="izq">
        <div class="title-secc2">
          <h1><strong style="color: orange;">¡ </strong>Pedinos tu cartel ahora<strong style="color: orange;">
              !</strong></h1>
        </div>
        <div class="tel">
          <p style="color: white"><strong style="color: darkgray;">llamanos al</strong> (+54) 11 3884-9632</p>
        </div>
        <div class="wsp-text">
          <p style="color: white"><strong style="color: darkgray;">whatsapp:</strong> (+54) 11 3884-9632</p>
        </div>

        <a class="mail" href="mailto:fycimpresion@gmail.com">
          fycimpresion@gmail.com
        </a>
        <a class="boton-mail" href="mailto:fycimpresion@gmail.com">
          <p>
            Solicitar presupuesto <img src="https://img.icons8.com/windows/32/000000/pencil.png" />
          </p>
        </a>
      </div>
    </div>





    <div class="maps">
      <div class="box1">
        <div class="title-maps">
          <h1>NUESTRA UBICACIÓN: </h1>
          <!-- <h1>Nuestra ubicación:</h1> -->
        </div>
        <div class="direc-maps">
          <p>Sicilia 1299 Florencio Varela</p>
        </div>
      </div>


      <div class="api-maps">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3274.746102809649!2d-58.28970118423116!3d-34.83747567741204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32a2f3e395b39%3A0xd05db2d02dfb026d!2sSicilia%201299%2C%20B1888CBE%20Florencio%20Varela%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1648234717455!5m2!1ses-419!2sar"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>

    <div class="wsp">
      <a href="https://api.whatsapp.com/send?phone=+541138849632">
        <img src="/images/whasap.png" alt="">
      </a>
    </div>

  </div>

</main>