/*====== Fonts ======*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


/*====== Variables ======*/
:root {
  --yellow: #EAC926;
  --dark-blue: #03264C;
  --light-blue: #1259c3;
  --gray: #666666;
  --light-gray: #ebebeb;
  --green: #39b54a;
  --base-font-family: 'Roboto', sans-serif
}

.container-total {
  display: flex;
  flex-direction: column;
  
}

.container-total p{
  color: white;
  
}

.container-total h2{
  color: white;
  font-size: 4rem;
  text-align:center
}


figure {
  margin: 0;
  padding: 0;
  height: 27rem ;
}

img {
  width: 100%;
  height: 100%;
}

input,
textarea {
  font-family: inherit;
}

hr {
  border: none;
  border-bottom: solid 1px var(--light-gray);
}


/*====== Main Header ======*/
.main-header {
  padding: 15px 0;
  background-color: var(--yellow);
}

.main-header_home-link,
.main-header_credit-link {
  display: block;
}

.main-header_credit-link {
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form_input {
  border: solid 1px var(--light-gray);
  display: block;
  width: 100%;
  padding: 7px 35px 7px 7px;
  border-radius: 3px;
  height: 40px;
  font-size: 1.5em;
}

.search-form_button {
  position: absolute;
  right: 2px;
  height: 60%;
  background-color: #ffffff;
  border: none;
  border-left: solid 1px var(--light-gray);
  color: var(--gray);
  cursor: pointer;
}


/*====== Main Navbar ======*/
.btn-toggle-navbar {
  background-color: var(--dark-blue);
  color: #ffffff;
  font-size: 1.5em;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  display: block;
  margin: 20px auto 0;
}

.main-navbar {
  margin-top: 20px;
  display: none;
}

.left-navbar,
.right-navbar {
  font-size: 1.5em;
}

.left-navbar a,
.right-navbar a {
  display: block;
  padding: 5px 0;
  border-bottom: solid 1px var(--gray);
}


/*====== Banner ======*/
.banner {
  background-image: url(/images/img-home-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100px;
}


/*====== Products ======*/

.products-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-total{
  display:flex;
  flex-direction: column;
}

.products-title {
  font-size: 4.4em;
  font-weight: 400;
  color: var(--gray);
  display: flex;
  justify-content: center;
  color: white;
}

.product-box {
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
 padding-bottom: 5rem;
 width: 90%;
}

.product-box a {
  display: block;
  color: white;
  background-color: #020b20;
  /* width: 22rem; */
}

 


.product-box_image {
  border-bottom: 1px solid var(--light-gray);
}

.product-box_data {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-box_data h2 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0;
}

.product-box_data span {
  font-size: 1.5em;
  font-weight: 300;
  color: orange;
  margin: 0 0 0 10px;
}

.product-box_data p {
  font-size: 1.5em;
  width: 100%;
  color: white;
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
  background:#020b20
}

.product-box_data i {
  color: var(--green);
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  margin-top: 2.7rem;
  margin-left: 17.1rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h2.products-title {
  border-bottom: 1px solid orange;
  width: 19rem;
}
.product-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.product-box:hover p {
  height: 40px;
  margin-top: 15px;
}

.product-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 5px var(--green);
}



/*====== Footer ======*/
.main-footer {
  background-color: #ffffff;
  padding: 20px 0;
  margin-top: 80px;
}

.footer-data {
  text-align: center;
}

.footer-data i {
  color: var(--light-blue);
  font-size: 3.5em;
}

.footer-data h2 {
  color: var(--gray);
  font-size: 2.4em;
  font-weight: 400;
}

.footer-data p {
  color: var(--gray);
  font-size: 1.5em;
  font-weight: 300;
}

.sub-footer {
  border-top: 1px solid var(--light-gray);
  background-color: #ffffff;
}

.sub-footer p {
  margin: 0;
  color: var(--gray);
  padding: 15px 0;
}


/*====== Product Detail ======*/
.product-detail {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.product-detail-img {
  width: 70%;
  display: block;
  margin: auto;
}

.product-detail-info {
  border-left: 1px solid var(--light-gray);
  padding: 15px;
  height: 100%;
}

.product-detail-title {
  font-weight: 400;
  font-size: 2.8em;
}

.product-detail-description {
  padding: 15px;
  font-size: 1.8em;
  line-height: 1.5;
}

.product-detail-price {
  font-size: 5.5em;
  margin: 10px 0;
}

.small {
  font-size: 1.8em;
  color: var(--green);
}

.small span {
  text-decoration: line-through;
}

.actions-list {
  margin-bottom: 50px;
}

.actions-list li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}

.actions-list i {
  color: var(--green);
  font-size: 2em;
  margin-right: 15px;
}

.actions-list p {
  color: var(--gray);
  font-size: 1.7em;
  margin: 0;
}

.buy-now-button {
  background-color: var(--light-blue);
  font-size: 1.6em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}

.action-button {
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 15px;
}

.action-button.edit {
  background-color: chocolate;
}
.action-button.delete {
  background-color: rgb(248, 69, 37);
}


/*====== Formularios ======*/
.form-label {
  display: inline-block;
  font-size: 1.6em;
  margin: 10px 0;
}

.form-input {
  display: block;
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  font-size: 1.5em;
  border-radius: 8px;
  border: none;
  border: solid 1px var(--gray);
  padding: 0 15px;
}

textarea.form-input {
  min-height: 140px;
  resize: vertical;
  padding: 15px;
}

@media (min-width: 425px) {
  .product-box {
  
    width: 95%;
   }
  
}

/*====== Media-Queries ======*/
@media (min-width: 768px) {


  .productos-item{
    width: 35vw;
}
.product-box {
  
 width: 60%;
}
  .productos-item:not(:last-child){
  margin-bottom: 3rem;
  }

  .main-header_credit-link {
    margin-top: 0;
    text-align: right;
  }

  /* .container-carteles{
    display: flex;
    justify-content: space-around;
  }   */



  .container-banners{
    display: flex;
    justify-content: space-around;
    
  }  

  .container-lonas{
    display: flex;
    justify-content: space-around;
  }  

  .container-stickers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }  

  .col-12{
    flex: unset;
  }

  .banner {
    height: 320px;
  }

  .btn-toggle-navbar {
    display: none;
  }

  .main-navbar,
  .left-navbar,
  .right-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .left-navbar a,
  .right-navbar a {
    border-bottom: none;
  }

  .left-navbar a:hover,
  .right-navbar a:hover {
    color: var(--light-blue);
  }

  .left-navbar li {
    margin-right: 15px;
  }

  .right-navbar li {
    margin-left: 15px;
  }

  .main-footer {
    padding: 40px 0;
  }

  .footer-data {
    width: 95%;
    margin: auto;
  }
}


  


@media (min-width: 1024px){

  .container-products{
    padding: 7rem 0 5rem 0;
}

.productos-item{
  width: 23vw;
}
.product-box {
  width: 22rem;
  margin: 40px 32px;
}




}

@media (min-width: 1980px){
.product-box {
  width: 35rem;
  margin: 6rem 5rem;
}

.product-box_data i {

  width: 40px;
  height: 40px;
  
  margin-left: 32.1rem;
  
}

.product-box figure {
  margin: 0;
  padding: 0;
  height: 37rem;
}

}

